<template>
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <nuxt-link class="sidebar-brand d-flex align-items-center justify-content-center" to="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fab fa-earlybirds"></i>
      </div>
      <div class="sidebar-brand-text mx-3">m87 admin </div>
    </nuxt-link>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <nuxt-link class="nav-link" to="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></nuxt-link>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Components
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-users"></i>
        <span>User Management</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Components:</h6>
          <nuxt-link class="collapse-item" to="/management/users">Users</nuxt-link>
          <nuxt-link class="collapse-item" to="/management/roles">Roles</nuxt-link>
          <nuxt-link class="collapse-item" to="/management/permissions">Permissions</nuxt-link>
        </div>
      </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-shopping-cart"></i>
        <span>E-commerce</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Custom E-commerce:</h6>
          <nuxt-link class="collapse-item" to="/ecommerce/categories">Categories</nuxt-link>
          <nuxt-link class="collapse-item" to="/ecommerce/attributes">Attributes</nuxt-link>
          <nuxt-link class="collapse-item" to="/ecommerce/brands">Brands</nuxt-link>
          <nuxt-link class="collapse-item" to="/ecommerce/products">Products</nuxt-link>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Settings
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-cogs"></i>
        <span>Admin Settings</span>
      </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Custom Settings:</h6>
          <nuxt-link class="collapse-item" to="/settings/general">General</nuxt-link>
          <nuxt-link class="collapse-item" to="/settings/logo">Site Logo</nuxt-link>
          <nuxt-link class="collapse-item" to="/settings/footer">Footer & SEO</nuxt-link>
          <nuxt-link class="collapse-item" to="/settings/social">Social Links</nuxt-link>
          <nuxt-link class="collapse-item" to="/settings/analytics">Analytics</nuxt-link>
          <nuxt-link class="collapse-item" to="/settings/payments">Payments</nuxt-link>
        </div>
      </div>
    </li>

    <!-- Nav Item - Charts -->
    <!--<li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->
</template>

<script>
    export default {
        name: "Sidebar"
    }
</script>

<style scoped>

</style>
