<template>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <Sidebar></Sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <Topbar></Topbar>
        <router-view></router-view>
      </div>
      <!-- End of Main Content -->
      <Footer></Footer>
    </div>
    <!-- End of Content Wrapper -->
    <LogoutModal></LogoutModal>
    <BackToTop></BackToTop>
  </div>
  <!-- End of Page Wrapper -->
</template>

<script>
  import Sidebar from "./partials/Sidebar";
  import Topbar from "./partials/Topbar";
  import Footer from "./partials/Footer";
  import LogoutModal from "./partials/LogoutModal";
  import BackToTop from "./partials/BackToTop";
  export default {
      components: {BackToTop, LogoutModal, Footer, Topbar, Sidebar}
  }
</script>

<style>

</style>
